@font-face {
    font-family: 'Flaticon';
    src: url('../fonts/Flaticon.eot'),
         url('../fonts/Flaticon.ttf'),
         url('../fonts/Flaticon.woff'),
         url('../fonts/Flaticon.woff2');
    font-size: normal;
    font-weight: normal;
}