@font-face {
    font-family: 'Flaticon';
    src: url('../../fonts/Flaticon.woff2') format('woff2'),
         url('../../fonts/Flaticon.woff') format('woff'),
         url('../../fonts/Flaticon.eot') format('eot'),
         url('../../fonts/Flaticon.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}



.delicious-area {
    padding-top: 150px;
    padding-bottom: 110px;
    display: flex;
    justify-content: center;
}

.delicious-area .container {
    width: 100%;
    flex-wrap: wrap;
}

.delicious-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.delicious-title h3{
    margin: 0 0 50px;
    font-family: "Philosopher", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #001D38;
}

.tablist-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E5E8EA;
    margin-bottom: 60px;
}

.menu-nav {
    display: flex;
}

.menu-nav li {
    margin: 0 25px;
    padding: 0 12px 27px;
    cursor: pointer;
    position: relative;
}

/* нижнее подчеркивание активного таба */
.menu-nav li.active::after { 
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #DB9A64;
    display: block;
}

.icon {
    padding: 0;
    font-family: 'Flaticon';
    font-size: 50px;
    color: #596672;
}

/* Задаем иконки с помощью кода в шрифте Flaticon каждому табу.  */
.icon-of-dinner::before { 
    content: '\f102';
}

.icon-of-breakfast::before {
    content: '\f100';
}

.icon-of-lunch::before {
    content: '\f101';
}

.nav-item-row {
    width: 75px;
    height: 76.6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #596672;
    text-align: center;
}

.nav-item.active .icon, 
.nav-item.active h4 {
    color: #DB9A64;
}






